.stats-section {
  background: #fff;
  padding: 36px 0 24px 0;
  width: 100%;

}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.stat-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 220px;
  min-height: 140px;
  justify-content: flex-start;
  z-index: 1;
}

.stat-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: 900;
  color: #fff;
  opacity: 10%;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  line-height: 1;
  white-space: nowrap;
  text-shadow: 0 4px 24px #0a2251, 0 1px 0 #0a2251;
}

.stat-value {
  font-size: 2.8rem;
  font-weight: 800;
  color: #0a2251;
  z-index: 1;
  position: relative;
  margin-right: 18px;
  

  
}

.stat-label {
  font-size: 1.2rem;
  color: #0a2251;
  font-weight: 600;
  z-index: 1;
  position: relative;
  line-height: 1.2;
  white-space: nowrap;
  margin-top: 14px;
  
}

.stat-label-indent {
  display: inline-block;
  margin-left: 100px;
  
} 